/* la page index*/
/* Reset some default browser styles */

body, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}
.title-container {
    text-align: center;
    padding-top: 50px;
}


/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.login-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button {
    background-color: #ca6d6d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #08c4a4;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0;
}

/* la page home*/
/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Basic Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Header Styles */
.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-size: 1.5rem;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav li {
    margin-right: 20px;
}

.main-nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.main-nav a:hover {
    color: #ccc;
}

.user-profile img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Rest of your styles */

